:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
:root::-webkit-scrollbar {
  display: none;
}

/* NavBar */
.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 27%,
    rgba(255, 255, 255, 1) 27%,
    rgba(35, 31, 32, 1) 27%,
    rgba(35, 31, 32, 1) 100%
  );
}

.form-inline {
  margin-right: -2rem;
}

.logo {
  width: 15rem;
  height: 5rem;
}

.navbar-nav {
  display: flex;
  gap: 2rem;
}

.form-rounded {
  border-radius: 2rem;
}

.searchBtn {
  position: relative;
  left: -1.8rem;
}
.searchIcon {
  width: 30px;
  height: 25px;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.navbar-nav .nav-item i {
  background: radial-gradient(
    circle,
    rgba(35, 96, 2, 1) 0%,
    rgba(82, 172, 34, 1) 0%,
    rgba(35, 96, 2, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0px 14px rgba(35, 96, 2, 1);
  padding: 10px;
}

/* NavBar */

/* child pic background section */
.childBGSection {
  background-image: url("./images/SmallKidImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  width: 100vw;
  height: 100vh;
}

/* child pic background section */

/* Intro Profile section */
.introProfileSection {
  width: 100vw;
}

/* profile photo in circle */
.introProfileSection::before {
  content: "";
  position: absolute;
  top: 42rem;
  left: 10rem;
  width: 17rem;
  height: 17rem;
  background-image: url(./images/ManInSuite.png);
  background-size: contain;
  border-radius: 50%;
}
/* profile photo in circle */

.introProfileSection .greenBG {
  height: 5rem;
  background: radial-gradient(
    circle,
    rgba(8, 51, 34, 1) 0%,
    rgb(42, 102, 9) 0%,
    rgb(42, 102, 9) 10%,
    rgb(42, 102, 9) 30%,
    rgba(8, 51, 34, 1) 100%,
    rgba(8, 51, 34, 1) 100%
  );
}

.introProfileSection .greenBG span {
  font-size: 2rem;
  color: #fff;
}

.introProfileSection .yellowBG {
  height: 3.5rem;
  background: linear-gradient(
    90deg,
    rgba(152, 119, 4, 1) 0%,
    rgba(255, 222, 50, 1) 50%,
    rgba(152, 119, 4, 1) 100%
  );
}

.introProfileSection .yellowBG span {
  font-size: 2.5rem;
  font-weight: 600;
}

.introProfileSection .blackBG {
  background-color: rgba(35, 31, 32, 1);
  height: 7rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.introProfileSection .blackBG .profileInfoDiv {
  font-size: 1.5rem;
  padding: 0 7rem 0;
}

/* Intro Profile section */

/* Cards Section */
.cards {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.cards .blackCardsDiv {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.blackCardsDiv .addressCard span {
  background-color: rgba(35, 31, 32, 1);
  color: #fff;
  padding: 2rem;
  font-size: 1.1rem;
}

.blackCardsDiv .card {
  border-radius: 0 0 0 60px;
}

.blackCardsDiv .card-header {
  background: rgba(35, 31, 32, 1);
  padding: 1.6rem;
  color: #fff;
}

.goldCardsDiv {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.goldCardsDiv .card-header {
  background: rgba(255, 222, 50, 1);
  background: linear-gradient(
    90deg,
    rgba(255, 222, 50, 1) 0%,
    rgba(152, 119, 4, 1) 100%
  );
  color: #fff;
}

.goldCardsDiv .card {
  border-radius: 0 0 50px 50px;
  /* border: none; */
}

.goldCardsDiv .card-body {
  background-color: #faf9f9;
}

.goldCardsDiv .card-footer {
  border: none;
  display: flex;
  justify-content: space-around;
}

.goldCardsDiv .card-footer i {
  background: radial-gradient(
    circle,
    rgb(25, 68, 2) 0%,
    rgb(88, 184, 37) 0%,
    rgb(25, 68, 2) 100%
  );
  border: 2px solid #000;
  border-radius: 50%;
  padding: 10px;
}

/* Cards Section */

/* Media Queries */

@media (max-width: 1024px) {
  :root {
    font-size: 13px;
  }

  .navbar {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 35%,
      rgba(255, 255, 255, 1) 35%,
      rgba(35, 31, 32, 1) 35%,
      rgba(35, 31, 32, 1) 100%
    );
  }

  .childBGSection {
    background-size: cover;
    height: 300px;
  }

  .introProfileSection .greenBG {
    height: 6rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.8rem;
  }

  .nullSpan {
    display: none;
  }

  .introProfileSection .blackBG {
    justify-content: center;
  }

  .introProfileSection .blackBG .profileInfoDiv {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .introProfileSection::before {
    width: 9rem;
    height: 9rem;
    top: 36rem;
    left: 5rem;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  /* .cards .nullDiv {
    display: none;
  } */
}

@media (max-width: 767px) {
  /* (min-width: 481px) and */
  .navbar {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 45%,
      rgba(255, 255, 255, 1) 45%,
      rgba(35, 31, 32, 1) 45%,
      rgba(35, 31, 32, 1) 100%
    );
  }
  .searchBtn {
    left: 7.5rem;
    top: -1.6rem;
  }

  .introProfileSection .yellowBG span {
    font-size: 2rem;
  }

  .introProfileSection::before {
    width: 6rem;
    height: 6rem;
    top: 34.5rem;
    left: 0;
  }
}
/* Media Queries */
